name: build
on: [ pull_request, push ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
                with:
                    submodules: 'true'
            -   name: Setup JDK 21
                uses: actions/setup-java@v4
                with:
                    java-version: 21
                    distribution: 'temurin'
            -   name: Build Linux podman image
                working-directory: proxy-linux
                run: podman build -t touchcontroller-linux .
            -   name: Build Windows llvm-image podman image
                working-directory: proxy-windows
                run: podman build -t llvm-mingw-jdk .
            -   name: Setup Rust
                uses: actions-rust-lang/setup-rust-toolchain@v1
                with:
                    target: 'armv7-linux-androideabi, aarch64-linux-android, i686-linux-android, x86_64-linux-android'
            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v4
            -   name: Install cargo-ndk
                run: cargo install --force cargo-ndk
            -   name: Build
                run: |
                    ./gradlew clean build --no-daemon
            -   name: Capture build artifacts
                uses: actions/upload-artifact@v4
                with:
                    name: artifacts
                    compression-level: 9
                    if-no-files-found: error
                    path: |
                        mod/*/build/libs/TouchController-*-*.jar
                        mod/*/*/build/libs/TouchController-*-*.jar
                        !**/*-noreobf-*.jar
                        !**/*-slim-*.jar
                        !**/*-fat-*.jar
