name: build
on: [ pull_request, push ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
                with:
                    submodules: 'true'
            -   name: Setup JDK 21
                uses: actions/setup-java@v4
                with:
                    java-version: 21
                    distribution: 'temurin'
                    cache: 'gradle'
            -   name: Build Windows llvm-image podman image
                working-directory: proxy-windows
                run: podman build -t llvm-mingw-jdk .
            -   name: Setup Rust
                uses: actions-rust-lang/setup-rust-toolchain@v1
                with:
                    target: 'armv7-linux-androideabi, aarch64-linux-android, i686-linux-android, x86_64-linux-android'
            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v4
            -   name: Install cargo-ndk
                run: cargo install --force cargo-ndk
            -   name: Build
                run: |
                    ./gradlew mod:forge-1.12.2:build mod:forge-1.16.5:build mod:forge-1.20.1:build mod:fabric-1.16.5:build mod:fabric-1.20.1:build mod:fabric-1.21.1:build mod:fabric-1.21.3:build mod:fabric-1.21.4:build --no-daemon
            -   name: Capture build artifacts
                uses: actions/upload-artifact@v4
                with:
                    name: artifacts
                    compression-level: 9
                    if-no-files-found: error
                    path: |
                        mod/*/build/libs/
                        !mod/common/**
                        !mod/*/build/libs/*-noreobf-*.jar
                        !mod/*/build/libs/*-slim-*.jar
                        !mod/*/build/libs/*-fat-*.jar
