name: Build TouchController
on:
  push:
  pull_request:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        game-version: [ "1.21.11", "26.1" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r28b
      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.14.0
      - name: Build
        run: bazel build --verbose_failures --config=opt //touchcontroller/versions/${{ matrix.game-version }}/fabric
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-${{ matrix.game-version }}
          path: bazel-bin/touchcontroller/versions/${{ matrix.game-version }}/fabric/fabric.jar
